article {
  padding: 80px 50px 20px;

  @media screen and (max-width: 1000px) {
    padding: 80px 20px 20px;
  }

  @media screen and (max-width: 600px) {
    padding: 30px 5px 20px;
  }

  header {
    border-bottom: solid 1px $light-gray;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;

    @media screen and (max-width: 500px) {
      text-align: center;
    }

    i {
      margin-right: 10px;
    }
  }

  footer {
    font-size: 14px;
    font-weight: 100;
    padding: 20px 0;
    text-align: center;
  }
}
