.main-header {
  background-image: url('../assets/header/header-bg.jpg');
  background-position: 50% 89%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;


  .main-logo {
    background-color: rgba(255, 255, 255, 0.68);
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -80px;
    text-align: center;

    img {
      max-width: 100%;
      width: 400px;
    }
  }

  .presented-by {
    bottom: 20px;
    position: absolute;
    right: 20px;
    text-align: center;

    p {
      text-transform: capitalize;
    }

    .pres-by {
      width: 150px;

      @media screen and (max-width: 500px) {
        width: 100px;
      }
    }
  }
}
