.main-header {
  background-image: url('../assets/header/header-bg.jpg');
  background-position: 50% 89%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 1;

  @media screen and (max-width: 800px) {
    background-position: 30% 89%;
  }

  .main-logo {
    background-color: $header;
    margin-top: -80px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;

    img {
      max-width: 100%;
      width: 400px;
    }
  }

  .presented-by {
    bottom: 20px;
    position: absolute;
    right: 20px;
    text-align: center;

    p {
      text-transform: capitalize;
    }

    .pres-by {
      width: 150px;

      @media screen and (max-width: 500px) {
        width: 100px;
      }
    }
  }
}
