.main-nav {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 71px;

  @media screen and (max-width: 800px) {
    height: 100px;
    position: absolute;
  }

  .main-logo {
    height: 60px;
    left: 6px;
    position: absolute;
    top: 6px;

    @media screen and (max-width: 1000px) {
      height: 40px;
      margin-top: 11px;
    }

    @media screen and (max-width: 800px) {
      display: inline-block;
      margin: 5px auto 0;
      position: static;
    }
  }

  ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    margin-top: 8px;


    @media screen and (max-width: 800px) {
      margin: 0 auto;
    }

    li {
      display: inline-block;
      margin: 0 15px;
      padding: 15px 30px;

      @media screen and (max-width: 1000px) {
        padding: 15px;
      }

      @media screen and (max-width: 500px) {
        padding: 8px;
      }
    }
  }


  a {
    color: #302F74;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;

    @media screen and (max-width: 1000px) {
      font-size: 14px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}
