.racing-article {
  @media screen and (max-width: 500px) {
    text-align: center;
  }

  header {
    a {
      font-size: 16px;
      text-decoration: none;
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 4px;
  }

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
  }

  figure {
    float: right;
    margin: 20px;
    width: 200px;

    @media screen and (max-width: 500px) {
      float: none;
      margin: 0;
      width: 100%;
    }

    img {
      width: 100%;
    }

    figcaption {
      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }
  }
}
