.schedule-table {
  width: 100%;

  tr {
    &:nth-child(odd) {
      background-color: $schedule-tr;
      border-top: solid 1px $light-gray;
    }

    @media screen and (max-width: 400px) {
      padding: 15px 0;
    }
  }

  td {
    padding: 15px;
    vertical-align: top;

    @media screen and (max-width: 600px) {
      display: inline-block;
    }
  }

  .date-cell {
    text-transform: capitalize;

    @media screen and (max-width: 1000px) {
      font-size: 12px;
    }

    @media screen and (max-width: 600px) {
      width: 20%;
    }

    @media screen and (max-width: 400px) {
      padding: 10px 0 0;
      text-align: center;
      width: 100%;
    }
  }

  .event-cell {
    @media screen and (max-width: 600px) {
      width: 50%;
    }

    @media screen and (max-width: 400px) {
      padding: 10px 0 0;
      text-align: center;
      width: 100%;
    }

    a {
      color: $schedule-a;
      text-decoration: none;
    }

    h2 {
      font-size: 18px;
      font-weight: 400;
      margin: 0;
      text-transform: capitalize;

      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }

      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }

    h3 {
      color: $link-red;
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      text-transform: capitalize;

      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }

      @media screen and (max-width: 400px) {
        font-size: 18px;
      }
    }

    p {
      font-size: 16px;
      font-weight: 100;
      margin: 0;
      text-transform: capitalize;

      @media screen and (max-width: 1000px) {
        font-size: 14px;
      }
    }
  }

  .result-cell {
    @media screen and (max-width: 600px) {
      width: 30%;
    }

    @media screen and (max-width: 400px) {
      padding: 10px 0 0;
      text-align: center;
      width: 100%;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    h3 {
      font-size: 16px;
      font-weight: 400;
      margin: 0;
      text-transform: capitalize;
    }
  }

  .result-cell-li {
    display: inline-block;
    font-size: 14px;
    margin: 0 5px 0 0;

    &:last-child {
      margin-right: 0;
    }
  }

  .result-link {
    color: $link-blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .logos-cell {
    @media screen and (max-width: 600px) {
      display: block;
      text-align: center;
      width: 100%;
    }

    @media screen and (max-width: 400px) {
      padding: 10px 0 0;
      text-align: center;
      width: 100%;
    }

    img {
      width: 40px;
    }
  }
}
