.standings-article {
  font-size: 0;

  h2 {
    border-bottom: solid 1px $gray;
    font-size: 19px;
    font-weight: 400;
    margin: 15px 0 5px;
    padding-bottom: 3px;
  }

  .charts-container {
    text-align: center;
  }

  .graph-container {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 300px;

    @media screen and (max-width: 1000px) {
      margin: 0 1%;
      width: 30%;
    }

    @media screen and (max-width: 700px) {
      width: 80%;
    }

    @media screen and (max-width: 500px) {
      margin: 0;
      width: 100%;
    }
  }

  .chart-container {
    display: inline-block;
    margin: 20px;
    vertical-align: top;
    width: 35%;

    @media screen and (max-width: 700px) {
      margin: 0 9%;
      width: 80%;
    }

    @media screen and (max-width: 500px) {
      margin: 0;
      width: 100%;
    }
  }

  .standingstable {
    font-size: 14px;
    text-align: left;
    width: 100%;

    tr:nth-child(odd) {
      background-color: $standing-tr;
    }

    td {
      padding: 5px;
    }

    td:nth-child(2) {
      text-align: right;
    }
  }
}
