<!DOCTYPE html>
<html>
    @@include('../src/partials/_head.html', {"title": "Granite State Snowshoe Series"})
  <body>
    <!-- MAIN NAV BAR -->
      <nav class="main-nav clearfix">
        <img src="assets/logos/logo.jpg" class="main-logo">
        <ul>
          <li><a href="#schedule">schedule</a></li>
          <li><a href="#standings">standings</a></li>
          <li><a href="#photos">photos</a></li>
        </ul>
      </nav>
    <!-- HEADER -->
      <header class="main-header">
        <div class="presented-by">
          <p>presented by</p>
          <img src="assets/logos/dion-logo.png">
        </div>
      </header>
      <section>
        @@include('../src/partials/_schedule.html')
        @@include('../src/partials/_standings.html')
        @@include('../src/partials/_photos.html')
        @@include('../src/partials/_champions.html')
        @@include('../src/partials/_racing-101.html')
        @@include('../src/partials/_giveaway.html')
      </section>
    @@include('../src/partials/_footer.html')
    @@include('../src/partials/_scripts.html')
  </body>
</html>
