<!DOCTYPE html>
<html>
    @@include('../src/partials/_head.html', {"title": "Granite State Snowshoe Series"})
  <body>
    @@include('../src/partials/_navbar.html')
    @@include('../src/partials/_header.html')
      <section>
        @@include('../src/partials/_schedule.html')
        @@include('../src/partials/_standings.html')
        @@include('../src/partials/_photos.html')
        @@include('../src/partials/_champions.html')
        @@include('../src/partials/_racing-101.html')
        @@include('../src/partials/_giveaway.html')
      </section>
    @@include('../src/partials/_footer.html')
    @@include('../src/partials/_scripts.html')
  </body>
</html>
