<!-- CHAMPIONS SECTION -->
  <article class="champions-article">
    <header><i class="fa fa-users"></i> 2015 Champions</header>
    <div class="runner-container clearfix">
      <div style="background-image: url(assets/runners/runner-01.jpg)" class="runner-image"></div>
      <h1 class="runner-name">Jim Johnson</h1>
      <p>Hometown: Madison, NH</br>Age: 37</br>Team: CMS</br><a href="http://doublejrunning.blogspot.com/" target="_blank">DoubleJRunning</a></p>
      <ul>
        <li class="highlights">2015 Winter Highlights</li>
        <li>Whitaker Woods (2nd)</li>
        <li>Beaver Brook (1st)</li>
        <li>Horsehill (1st)</li>
        <li>Moose Mountain (1st)</li>
        <li>Exeter Hullabaloo (1st)</li>
        <li>Kingman Farm (1st)</li>
        <li>NH/NE Championships (1st)</li>
      </ul>
      <p class="description">"For the past seven years of racing, I have participated in many different race series
        across multiple disciplines from the roads to the trails to the mountains to the snow, but there's only been
        1 that I've made a point to complete each year and that has been the Granite State Snowshoe Series.  The Granite
        State Snowshoe Series has been there for me every year, making sure I stay motivated and excited about running
        and racing in the winter months.  The events are always top notch quality events that are challenging and most
        importantly fun.  There is something very special about the snowshoe racing community in New Hampshire that
        drives me to work everything else on my running and racing schedule around the GSSS events each year."  -Jim Johnson</p>
    </div>
    <div class="runner-container clearfix">
      <div style="background-image: url(assets/runners/runner-02.jpg)" class="runner-image"></div>
      <h1 class="runner-name">Leslie O'Dell</h1>
      <p>Hometown: Albany, NH</br>Age: 38</br>Team: CMS</br><a href="http://doublejrunning.blogspot.com/" target="_blank">DoubleJRunning</a></p>
      <ul>
        <li class="highlights">2015 Winter Highlights</li>
        <li>Whitaker Woods (1st)</li>
        <li>Horsehill (1st)</li>
        <li>Moose Mountain (1st)</li>
        <li>Exeter Snowshoe Hullabaloo (1st)</li>
        <li>'Shoe to the Clouds (1st)</li>
        <li>NH/NE Championships (3rd)</li>
      </ul>
      <p class="description">"What a fantastic winter this has been for me competing in the GSSS. I am beyond
        thrilled to have finally participated in enough of the Series to count in the scoring and win for the
        women in a year with prime snow conditions. Snowshoe racing has really helped me get through the winter,
        and I've looked forward to seeing all of the other races every weekend. They have all become my new family.
        You will definitely see me again in 2016." -Leslie O'Dell</p>
    </div>
  </article>
