<!-- FOOTER -->
  <footer class="main-footer">
    <ul>
      <li><a href="https://www.facebook.com/granitestatesnowshoeseries/"><i class="fa fa-facebook-official"></i></a></li>
      <li><a href="https://twitter.com/nesnowshoe"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://instagram.com/NH_snowshoe/"><i class="fa fa-instagram"></i></a></li>
    </ul>
    Granite State Snowshoe Series.  Copyright &copy; 2015.</br>
    <a href="http://www.acidoticracing.com" target="_new"><img src="assets/logos/aR.png"></a></br>
    Hosted by <a href="http://www.acidoticracing.com" target="_new">acidotic RACING, LLC</a>
  </footer>

<!-- <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FGranite-State-Snowshoe-Series%2F144302502277258%3Fref%3Dsgm&amp;width=292&amp;connections=10&amp;stream=true&amp;header=true&amp;height=587" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100%; height:587px;" allowtransparency="true"></iframe> -->
