<!-- GIVEAWAY SECTION -->
  <article class="giveaway-article clearfix">
    <header><i class="fa fa-gift"></i> DION Snowshoe Giveaway!</header>
    <img src="assets/logos/dion-logo.png">

    <p>Thanks to our AMAZING sponsor <a href="http://www.dionsnowshoes.com/" target="_blank">DION Snowshoes</a>, we will be giving away two pair of their #1 racing snowshoes, the model 121 with secure fit binding and standard cleat, this winter! And here's how you can win a pair. First, for every race you do you'll be entered into a drawing for a pair that we'll announce at the Granite State Snowshoe Championship. Lastly, we'll give away a pair to a participant at those championships following the race. So, that's two ways for you to win a pair of these incredible snowshoes this winter!</p>
  </article>
