<!-- PHOTOS SECTION -->
  <article class="photos-article">
    <header><i class="fa fa-photo"></i> 2015 Photos</header>
    <div id="owl-demo" class="owl-demo">
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/example.jpg" alt="Example Photo"></div>
    </div>
  </article>
