<!-- PHOTOS SECTION -->
  <article class="photos-article" id="photos">
    <header><i class="fa fa-photo"></i> Photos</header>
    <div id="owl-demo" class="owl-demo">
	  <div class="item"><img src="assets/photos/001.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/002.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/003.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/004.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/005.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/006.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/007.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/008.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/009.jpg" class="owlimg" alt="Example Photo"></div>
      <div class="item"><img src="assets/photos/010.jpg" class="owlimg" alt="Example Photo"></div>
    </div>
  </article>
