<!-- RACING 101 SECTION -->
  <article class="racing-article">
    <header><i class="fa fa-flag-checkered"></i> Snowshoe Racing 101 - <a href="http://www.granitestatesnowshoeseries.org/SnowshoeRacing101.html">view full article</a></header>
    <figure>
      <img src="assets/snowshoe.jpg" alt="Macaque in the trees">
      <figcaption>The DION 121's are the lighest and fastest racing snowshoe on the market today.</figcaption>
    </figure>
    <h2>Getting started in this exciting winter sport</h2>
    <p>Snowshoe racing is one of the fastest growing winter sports in the northeast.  Thanks to our fantastic snow and incredible trail networks this is a sport with many things to love!  The easiest thing to compare snowshoe racing to is trail racing.  The parallels are obvious...snowshoe races occur on some of the same trails we race on from April through December.  But if you think this sport is just trail racing with snow, you may be a little surprised...and very underprepared.</p>
    <h3>Snowshoes</h3>
    <p>Snowshoe racing isn't a gear intensive sport, but it does require thoughtful consideration of the most important element...snowshoes.  Although each manufacturer touts their patented bindings, cleats, and deck shape the single most important consideration when selecting a racing snowshoe is size.  Let's take closer look.</p>
    <h4>Size</h4>
    <p>The US Snowshoe Association has set the minimum surface area for racing snowshoes at 120 square inches but unless you've got a degree in engineering it's next to impossible to tell if you've got a 'legal' pair of 'shoes.  Instead, most racers choose a snowshoe based on its length.  The basic principle here is "smaller is lighter and lighter is faster".  Racing models vary from 21-25 inches and are almost always less than 3 lbs..  Any recreational 'shoe longer than 25 inches is also typically wider than racing models and becomes difficult to maintain a comfortable narrow running stride.</p>
    <h3>Clothing</h3>
    <p>One of the most common mistakes newcomers make is over dressing.  It stands to reason that racing in the winter months means racing in cold temperatures but running in snowshoes is a tremendous amount of work and body temps rise quickly and stay elevated throughout the race.  Most snowshoe racers dress in light layers using a synthetic hat as the perfect method of maintaining a comfortable body temperature.  Running tights are the preferred lower body layer with running socks & shoes finishing the look.  Up top, two or three light synthetic layers with at least one long-sleeve article is often used.  Depending on wind chill, sometimes a light outer shell is worn.</p>
  </article>
