<!-- SCHEDULE SECTION -->
  <article class="schedule-article" id="schedule">
    <header><i class="fa fa-calendar-check-o"></i> 2015 Schedule</header>
    <table class="schedule-table">
      <tbody id="scheduleBody"></tbody>
    </table>
    <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</footer>
  </article>
