<!-- SCHEDULE SECTION -->
  <article class="schedule-article">
    <header><i class="fa fa-calendar-check-o"></i> 2015 Schedule</header>
    <table class="schedule-table">
      <tbody>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
        <tr>
          <td class="date-cell"><date>february 8th, 2015</date></td>
          <td class="event-cell">
            <h2><a href="#">moose mountain roundaround</a></h2>
            <p>brookfield, new hampshire</p>
          </td>
          <td class="result-cell">
            <h3>results</h3>
            <ul>
              <li><a href="#" class="result-link">2010</a></li>
              <li><a href="#" class="result-link">2011</a></li>
              <li><a href="#" class="result-link">2012</a></li>
              <li><a href="#" class="result-link">2013</a></li>
              <li><a href="#" class="result-link">2014</a></li>
              <li><a href="#" class="result-link">2015</a></li>
            </ul>
          </td>
          <td class="logos-cell"><img src="assets/logos/usssa.png"></td>
        </tr>
      </tbody>
    </table>
    <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</footer>
  </article>
