<!-- STANDINGS SECTION -->
  <article class="standings-article">
    <header><i class="fa fa-bar-chart"></i> 2015 Standings</header>
    <p>Your best 4 races score.  No minimum.  Top 5 team members score for their club at every series race.</p>
    <div class="charts-container">
      <div class="chart-container">
        <h2>Teams</h2>
        <canvas id="teamChart" style="width: 100%; height: 300px;"></canvas>
      </div>
      <div class="chart-container">
        <h2>Open Men</h2>
        <canvas id="openMenChart" style="width: 100%; height: 300px;"></canvas>
      </div>
      <div class="chart-container">
        <h2>Open Women</h2>
        <canvas id="openWomenChart" style="width: 100%; height: 300px;"></canvas>
      </div>
      <div class="chart-container">
        <h2>Masters Men (40-49)</h2>
        <table>
          <tr>
            <td>Damon Gannon</td>
            <td>348.70</td>
          </tr>
          <tr>
            <td>Jonathan Miller</td>
            <td>327.42</td>
          </tr>
          <tr>
            <td>Phil Erwin</td>
            <td>322.39</td>
          </tr>
          <tr>
            <td>John Carton</td>
            <td>309.19</td>
          </tr>
          <tr>
            <td>Mariano Santangelo</td>
            <td>270.29</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <h2>Masters Woman (40-49)</h2>
        <table>
          <tr>
            <td>Sarah Schlaack</td>
            <td>339.34</td>
          </tr>
          <tr>
            <td>Mindy Boulton</td>
            <td>320.71</td>
          </tr>
          <tr>
            <td>Kirsten Woody</td>
            <td>310.56</td>
          </tr>
          <tr>
            <td>Ellen Tidd</td>
            <td>298.51</td>
          </tr>
          <tr>
            <td>Jennifer Johnson</td>
            <td>297.21</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Men (50-59)</h2>
        <table>
          <tr>
            <td>Damon Gannon</td>
            <td>348.70</td>
          </tr>
          <tr>
            <td>Jonathan Miller</td>
            <td>327.42</td>
          </tr>
          <tr>
            <td>Phil Erwin</td>
            <td>322.39</td>
          </tr>
          <tr>
            <td>John Carton</td>
            <td>309.19</td>
          </tr>
          <tr>
            <td>Mariano Santangelo</td>
            <td>270.29</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Women (50-59)</h2>
        <table>
          <tr>
            <td>Sarah Schlaack</td>
            <td>339.34</td>
          </tr>
          <tr>
            <td>Mindy Boulton</td>
            <td>320.71</td>
          </tr>
          <tr>
            <td>Kirsten Woody</td>
            <td>310.56</td>
          </tr>
          <tr>
            <td>Ellen Tidd</td>
            <td>298.51</td>
          </tr>
          <tr>
            <td>Jennifer Johnson</td>
            <td>297.21</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Men (60+)</h2>
        <table>
          <tr>
            <td>Damon Gannon</td>
            <td>348.70</td>
          </tr>
          <tr>
            <td>Jonathan Miller</td>
            <td>327.42</td>
          </tr>
          <tr>
            <td>Phil Erwin</td>
            <td>322.39</td>
          </tr>
          <tr>
            <td>John Carton</td>
            <td>309.19</td>
          </tr>
          <tr>
            <td>Mariano Santangelo</td>
            <td>270.29</td>
          </tr>
        </table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Women (60+)</h2>
        <table>
          <tr>
            <td>Sarah Schlaack</td>
            <td>339.34</td>
          </tr>
          <tr>
            <td>Mindy Boulton</td>
            <td>320.71</td>
          </tr>
          <tr>
            <td>Kirsten Woody</td>
            <td>310.56</td>
          </tr>
          <tr>
            <td>Ellen Tidd</td>
            <td>298.51</td>
          </tr>
          <tr>
            <td>Jennifer Johnson</td>
            <td>297.21</td>
          </tr>
        </table>
      </div>
    </div>
    <footer>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</footer>
  </article>
