<!-- STANDINGS SECTION -->
  <article class="standings-article" id="standings">
    <header><i class="fa fa-bar-chart"></i> 2017 Standings</header>
    <div class="charts-container">
      <div class="chart-container100pct">
        <h2>Teams</h2>
        <table class="standingtable" id="teamsTable"></table>
      </div>
      <div class="chart-container">
        <h2>Open Men</h2>
        <table class="standingtable" id="openMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Open Women</h2>
        <table class="standingtable" id="openWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Masters Men (40-49)</h2>
        <table class="standingtable" id="mastersMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Masters Women (40-49)</h2>
        <table class="standingtable" id="mastersWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Men (50-59)</h2>
        <table class="standingtable" id="seniorsMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Women (50-59)</h2>
        <table class="standingtable" id="seniorsWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Men (60+)</h2>
        <table class="standingtable" id="veteransMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Women (60+)</h2>
        <table class="standingtable" id="veteransWomenTable"></table>
      </div>
    </div>

    <footer><b>SERIES SCORING (2017)</b> Your best four (4) performances will be scored.  No minimum number of races required to receive a series standing.  Team scores will consist of the cumulative Top 5 overall scores for each race in the series.  There is no minimum number of athletes required for teams to receive an event score.</footer>
  </article>
