<!-- STANDINGS SECTION -->
  <article class="standings-article" id="standings">
    <header><i class="fa fa-bar-chart"></i> 2016 Standings</header>
    <!-- <div class="charts-container">
      <div class="chart-container">
        <h2>Teams</h2>
        <table id="teamsTable"></table>
      </div>
      <div class="chart-container">
        <h2>Open Men</h2>
        <table id="openMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Open Women</h2>
        <table id="openWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Masters Men (40-49)</h2>
        <table id="mastersMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Masters Woman (40-49)</h2>
        <table id="mastersWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Men (50-59)</h2>
        <table id="seniorsMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Seniors-Women (50-59)</h2>
        <table id="seniorsWomenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Men (60+)</h2>
        <table id="veteransMenTable"></table>
      </div>
      <div class="chart-container">
        <h2>Veterans-Women (60+)</h2>
        <table id="veteransWomenTable"></table>
      </div>
    </div> -->
    <footer>Your best 4 races score.  No minimum.  Top 5 team members score for their club at every series race.</footer>
  </article>
