$primary-color: #000;
$secondary-color: #000;
$link-color: #000;

$gray: #979797;
$dark-gray: #b4afaf;
$light-gray: #cfcfcf;
$lightest-gray: #f3f3f3;
$link-blue: #43a0fa;
$link-red: #f00;
$primary-font: 'Open Sans', sans-serif;

$header: rgba(255, 255, 255, .68);
$mainnav: rgba(255, 255, 255, .7);
$mainnav-bg: #fff;
$mainnav-a: #302f74;

$schedule-tr: #f2f5fa;
$schedule-a: #000;

$standing-tr: #f2f5fa;

